/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* Set every element's box-sizing to border-box */
* {
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  font-size: 62.5%;
}
.main-container {
  max-width: 900px;
  width: 100%;
  margin: 0 auto;
}
.main-container header {
  height: 100px;
  padding-top: 40px;
}
@media (max-width: 500px) {
  .main-container header {
    padding-top: 0;
    height: 100%;
  }
}
.main-container nav {
  width: 80%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
@media (max-width: 500px) {
  .main-container nav {
    flex-direction: column;
    width: 100%;
  }
}
.main-container a {
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  color: darkslategray;
}
@media (max-width: 500px) {
  .main-container a {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px dashed silver;
    text-align: center;
  }
}
.main-container .main-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  font-family: 'Raleway', sans-serif;
}
@media (max-width: 500px) {
  .main-container .main-content {
    display: flex;
    flex-direction: column;
  }
}
.main-container .boxes {
  height: 400px;
  width: 50%;
  display: flex;
}
.main-container img {
  height: 100%;
  width: auto;
  opacity: 0.8;
}
.main-container .hello {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@media (max-width: 500px) {
  .main-container .hello {
    margin: 0 auto;
    width: 95%;
    height: 200px;
  }
}
.main-container .intro {
  display: flex;
  flex-direction: column;
  padding-top: 3%;
  padding-right: 20px;
}
.main-container .intro h2 {
  border-bottom: 1px solid;
  padding-bottom: 5%;
  margin-bottom: 5%;
}
@media (max-width: 500px) {
  .main-container .intro {
    margin: 0 auto;
    width: 95%;
    text-align: center;
    margin-bottom: 0;
    padding-bottom: 0;
    height: 200px;
  }
}
.main-container .skills {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: azure;
  padding: 30px;
}
@media (max-width: 500px) {
  .main-container .skills {
    margin: 0 auto;
    width: 90%;
  }
}
.main-container h1 {
  font-size: 5rem;
  padding-bottom: 3%;
  margin-bottom: 3%;
  border-bottom: 1px dashed silver;
  z-index: 1;
}
.main-container h2 {
  font-size: 3.25rem;
  padding-bottom: 10px;
  margin-bottom: 10px;
}
.main-container h3 {
  font-size: 3rem;
}
.main-container p {
  font-size: 2rem;
  z-index: 1;
}
.main-container li {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 10%;
  padding-left: 10%;
  list-style-type: none;
  font-size: 2rem;
  text-align: center;
  border-bottom: 1px dashed silver;
}
